.NewBrickMainSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.NewBrickMainSection_1 {
    flex: 1;
}


.NewBrickMainSection_2 {
    flex: 1;
}


.NewBrickMainSection_3 {
    flex: 1;
}
