.NewBrickMainSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
}


.NewBrickMainSection_1 {
    flex: 1;
    border: 1px solid black;
}


.NewBrickMainSection_2 {
    flex: 1;
    border: 1px solid black;
}


.NewBrickMainSection_3 {
    flex: 1;
    border: 1px solid black;
}
